{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <center>
            <svg class="bi bi-archive" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M2 5v7.5c0 .864.642 1.5 1.357 1.5h9.286c.715 0 1.357-.636 1.357-1.5V5h1v7.5c0 1.345-1.021 2.5-2.357 2.5H3.357C2.021 15 1 13.845 1 12.5V5h1z"
                      clip-rule="evenodd"/>
                <path fill-rule="evenodd"
                      d="M5.5 7.5A.5.5 0 016 7h4a.5.5 0 010 1H6a.5.5 0 01-.5-.5zM15 2H1v2h14V2zM1 1a1 1 0 00-1 1v2a1 1 0 001 1h14a1 1 0 001-1V2a1 1 0 00-1-1H1z"
                      clip-rule="evenodd"/>
            </svg>
            Archives
        </center>
    </div>
    <div class="col-md-4">
        <form class="form-inline my-2 my-lg-0" id="search-posts" action="{% url 'post-search-list-view' %}" method="get"
              accept-charset="utf-8">
            <input class="form-control mr-sm-2" name="qery" type="text" placeholder="Search" aria-label="Search">

        </form>
    </div>
</div>

<hr>
{% if post_list %}
<div class="row mb-2">

    {% for post in post_list %}
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{ post.tag.all|join:", " }}</strong>
                <a class="text-dark" href="{% url 'post-detail' post.slug %}"><h5 class="mb-0">{{ post.title }}</h5></a>
                <div class="mb-1 text-muted">{{ post.created_at }}</div>
                <p class="card-text mb-auto"><i style="font-size:13px;">{{ post.summary|truncatechars:100 }}</i></p>
                <a href="{{ post.get_absolute_url }}" class="stretched-link">Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img class="bd-placeholder-img"  width="250" height="250" src="\media\{{ post.display_image }}" alt="Card image cap">
            </div>
        </div>
    </div>


    {% endfor %}
</div>


{% else %}
<center>
    <svg class="bi bi-info-circle" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
         xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z"
              clip-rule="evenodd"/>
        <path d="M8.93 6.588l-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588z"/>
        <circle cx="8" cy="4.5" r="1"/>
    </svg>
    There are no posts found in given search criteria. Click<a class="p-2 " href="{% url 'all-posts' %}">here</a>to view
    all posts.
</center>
{% endif %}


{% endblock %}

