{% extends 'base.html' %}

{% load widget_tweaks %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <center>
            <svg class="bi bi-cursor-fill" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M14.082 2.182a.5.5 0 01.103.557L8.528 15.467a.5.5 0 01-.917-.007L5.57 10.694.803 8.652a.5.5 0 01-.006-.916l12.728-5.657a.5.5 0 01.556.103z"
                      clip-rule="evenodd"/>
            </svg>
            Create a new post
        </center>
        <hr>
    </div>
    <div class="col-md-4"></div>

</div>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {% for hidden in form.hidden_fields %}
    {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
    <div class="form-group">
        {% if field.id_for_label == 'id_post_content' %}

        {% endif %}
        <label for="{{ field.id_for_label }}">{{ field.label }}<span style="color:#fcba03; font-size:12px"> {{ field.help_text }} </span></label>
        {{ field|add_class:'form-control' }}
        {% for error in field.errors %}
        <span style="color:red" class="help-block">{{ error }}</span>
        {% endfor %}
    </div>
    {% endfor %}

    <div class="form-group">
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok"></span> Save
        </button>
        <a href="{% url 'index' %}" class="btn btn-default">Cancel</a>
    </div>
</form>
{% endblock %}
