<!-- templates/post_detail.html -->
{% extends 'base.html' %}
{% block content %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-9 blog-main">
            <div class="blog-post">
                <h2 class="blog-post-title">{{ object.title }}</h2>
                <p class="blog-post-meta">
                    <svg class="bi bi-calendar" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M14 0H2a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V2a2 2 0 00-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
                              clip-rule="evenodd"/>
                        <path fill-rule="evenodd"
                              d="M6.5 7a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm-9 3a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2zm3 0a1 1 0 100-2 1 1 0 000 2z"
                              clip-rule="evenodd"/>
                    </svg>
                    {{ object.created_at }}
                    <svg class="bi bi-person-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                         xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 100-6 3 3 0 000 6z"
                              clip-rule="evenodd"/>
                    </svg>
                    <a
                            href="{% url 'author-detail' post.author.pk %}">{{ object.author }}</a></p>
                <div>
                    {% for item in object.tag.all %}
                    <a href="{% url 'posts-by-tag' item %}" class="badge badge-light">{{item}}</a>
                    {% endfor %}
                </div>
                <br>
                <p><i style="font-size:13px;">"{{ object.summary }}"</i></p>
                <hr>

                <p>
                    {% autoescape off %}
                    {{ object.post_content }}
                    {% endautoescape %}

                </p>

            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <aside class="col-md-3 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-bold">{% for i in author %} {{ i.name }} {% endfor %}</h4>
                <p class="mb-0 font-italic" style="font-size:13px;">{% for i in author %} {{ i.bio }} {% endfor %}</p>
            </div>

            <div class="p-3">
                <h4 class="font-italic">You may also like</h4>
                <ol class="list-unstyled mb-0">
                    {% for post in authors_posts %}
                    <span style="font-size:12px;">
                        <li>
                            <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                 xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd"
        d="M13.854 3.646a.5.5 0 010 .708l-7 7a.5.5 0 01-.708 0l-3.5-3.5a.5.5 0 11.708-.708L6.5 10.293l6.646-6.647a.5.5 0 01.708 0z"
        clip-rule="evenodd"/>
</svg>
                            <a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></li>
                    </span>
                    {% endfor %}

                </ol>
            </div>


        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</main><!-- /.container -->

{% endblock content %}